<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>	
	
	<bean id="logConfiger" class="org.framework.sys.LogConfig" init-method="init"/>

	<!-- 
		一个简单的任务例子 
	<bean id="sampleTask" class="org.waddy.task.taskbean.SampleTask">
		<property name="taskName" value="sample"/>
		<property name="interval" value="10"/>
	</bean>	
	-->

</beans>
